In [58]:
# Persiapan membuat data
import pandas as pd
import random

pelajaran = ['Matematika', 'Fisika', 'Biologi', 'Kimia', 'Geologi', 'Ekonomi']
kelas = ['12A', '12B', '12C', '12D']

hasil_nilai = {
    'siswa_id' : range(1, 21),
    'pelajaran' : [random.choice(pelajaran) for i in range(20)],
    'nilai' : [random.choice(range(0, 100)) for i in range(20)],
    'jenis-kelamin' : [random.choice(['laki-laki', 'perempuan']) for i in range(20)],
    'kelas' : [random.choice(kelas) for i in range(20)]
}

df = pd.DataFrame(hasil_nilai)
df.head()

print(df)

    siswa_id pelajaran  nilai jenis-kelamin kelas
0          1    Fisika     15     perempuan   12D
1          2   Biologi     33     laki-laki   12A
2          3     Kimia     62     perempuan   12C
3          4   Ekonomi     86     perempuan   12B
4          5     Kimia     63     laki-laki   12A
5          6   Biologi      2     laki-laki   12C
6          7   Ekonomi     82     perempuan   12D
7          8    Fisika     71     perempuan   12C
8          9   Geologi     21     perempuan   12A
9         10   Ekonomi     73     laki-laki   12D
10        11   Biologi     69     laki-laki   12A
11        12   Ekonomi     15     perempuan   12A
12        13    Fisika     20     laki-laki   12D
13        14   Geologi     66     perempuan   12D
14        15     Kimia     76     laki-laki   12A
15        16     Kimia     14     perempuan   12B
16        17    Fisika     75     laki-laki   12D
17        18     Kimia      9     laki-laki   12A
18        19    Fisika     33     laki-laki   12D
19        20     Kimia     43     perempuan   12A

<h2>Soal 1: Indexing</h2>

1. Lakukan indexing terhadap dataframe untuk mengakses column nilai dan kelas saja
2. Lakukan indexing terhadap dataframe untuk mengakses row 5 sampai 10 beserta column pelajaran dan nilai

In [34]:
# code here
nilaiKelas = df[['kelas','nilai']]
print(nilaiKelas)

# lima10 = df[5:11]
pelajaranNilai = df.loc[5:10,['pelajaran','nilai']]

print(pelajaranNilai)

   kelas  nilai
0    12B     81
1    12C     23
2    12B     33
3    12B     80
4    12A     55
5    12A     25
6    12C     46
7    12C     67
8    12A     68
9    12A     14
10   12D     70
11   12B      7
12   12A     81
13   12B     16
14   12D     90
15   12C     97
16   12C     32
17   12B     77
18   12A      0
19   12A     95
   pelajaran  nilai
5    Biologi     25
6    Ekonomi     46
7     Fisika     67
8      Kimia     68
9      Kimia     14
10   Biologi     70

<h2>Soal 2: Filter DataFrame Dengan Boolean</h2>

1. Tampilkan semua data siswa pada mata pelajaran Ekonomi dan Fisika
2. Tampilkan semua data siswa yang mempunyai nilai lebih dari 50 di mata pelajaran Kimia 
3. Tampilkan semua data yang mempunyai nilai lebih dari 70, berjnis kelamin perempuan dan di kelas 12C

In [59]:
# code here
ekonomi = df.pelajaran == 'Ekonomi'
fisika = df.pelajaran == 'Fisika'

print(df[(ekonomi) & (fisika)])

nilai50 = df.nilai > 50
kimia = df.pelajaran == 'Kimia'

print(df[(nilai50) & (kimia)])


# print(df.loc[(ekonomi) & (fisika)])

Empty DataFrame
Columns: [siswa_id, pelajaran, nilai, jenis-kelamin, kelas]
Index: []
    siswa_id pelajaran  nilai jenis-kelamin kelas
2          3     Kimia     62     perempuan   12C
4          5     Kimia     63     laki-laki   12A
14        15     Kimia     76     laki-laki   12A

<h2>Soal 3: Data Transformation</h2>

lakukan data transformasi terhadap column 'nilai' dengan fungsi transformasi, berikut rumus dari normalisasi

![alt text](https://drive.google.com/uc?id=1wed-EbRSTA0JP1ceDp6lcKBqH2yJ4aa3)

In [61]:
# code here
def xnormalized (x):
    normalized = (x- x.min())/(x.max() - x.min())
    return normalized
print(df[['nilai']].apply(xnormalized))

       nilai
0   0.154762
1   0.369048
2   0.714286
3   1.000000
4   0.726190
5   0.000000
6   0.952381
7   0.821429
8   0.226190
9   0.845238
10  0.797619
11  0.154762
12  0.214286
13  0.761905
14  0.880952
15  0.142857
16  0.869048
17  0.083333
18  0.369048
19  0.488095