<h2>Soal 1: Comparison Operator</h2>

- Berikan contoh comparison dari tipe data string
- Berikan contoh comparison dari tipe data boolean
- Berikan contoh comparison dari tipe data integer

In [7]:
#string
def mengecek_string(str):
    return str == "halo"
#bolean
def mengecek_bolean(bl):
    return bl == "ok"
#integer
def mengecek_nilai(nl):
    return nl <10
        
#hasil
print(mengecek_string("halo"))
print(mengecek_bolean("true"))
print(mengecek_nilai(2))

True
False
True

<h2>Soal 2: Boolean Comparison</h2>

- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'and'
- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'or'
- Berikan contoh gabungan multiple comparison menggunkan Boolean Comparisin 'not'

In [12]:
def melihat (nilai) :
    return nilai <10 and nilai !=10
print(melihat(10))

def melihat (nilai, nl) :
    return nilai <10 or nl !=10
print(melihat(10,12))

def melihat (nilai) :
    return  nilai !=10
print(melihat(11))

False
True
True

<h2>Soal 3: If-Else Statement</h2>

Lengkapi kode untuk menghasilkan suatu output yang di harapkan

- Bualah sebuah if-else statement yang dimana akan mem-print 'Besar' jika ruangan adalah 'Kamar' dan ukuran lebih dari 12, kemudian mem-print 'Sedang' jika ruangan adalah 'Kamar' dan ukuran lebih dari 6 dan memprint 'Kecil' jika ruangan adalah 'Kamar' dan ukuran ruangan lebih kecil dan sama dengan 6.

In [15]:
ruangan = 'Kamar'
size = 20

if ruangan == "kamar" and size > 12 :
    print('Besar')
elif ruangan == "kamar" and size >6 :
    print('Sedang')
elif ruangan == "kamar" and size <=6 :
    print('Kecil')

<h2>Soal 4: Comparison Operator dengan fungsi</h2>

Buatlah sebuah fungsi yang menerima satu argument bertipe data numeric dan menghasilkan sebuah return sebagai berikut :
- menghasilkan return 'Aneh' jika nilai dari argument tersebut adalah bilangan ganjil
- menghasilkan return 'Tidak Aneh' jika nilai dari argument tersebut adalah bilangan genap dan diantara nilai 2 sampai 5 (2 dan 5 termasuk)
- menghasilkan return 'Aneh' jika nilai dari argument tersebut adalah bilangan genap dan diantara nilai 6 sampai 20 (6 dan 20 termasuk)
- menghasilkan return 'Tidak Aneh' jika nilai dari argument tersebut adalah bilangan genap dan lebih besari dari 20

In [31]:
# Buat fungsi
def cari(data):
    if data % 2 == 1 :
        print("Aneh")
    elif (data % 2 == 0) and (data >= 2) and (data <=5):
        print("Tidak Aneh")
    elif (data % 2 == 0) and (data >= 6) and (data <=20):
        print("Aneh")
    elif (data % 2 == 0) and (data >20):
        print("Tidak Aneh")
        
cari(22)

Tidak Aneh

<h2>Soal 5: While Loop dan For Loop</h2>

- Apa perbedaan while loop dan for loop?
- Berikan contoh sederhana cara menggunakan while loop dan for loop

In [3]:
# Tulis Kode
#for_loop melaukan perulangan kode
ulang = 10

for i in range(ulang):
    print("Perulangan ke-"+str(i))
#while_lopp melakukan perulangan sampai kondisi terpenuhi
i = 0
while i < 10:
    print(i, end=' ')
    i += 1

Perulangan ke-0
Perulangan ke-1
Perulangan ke-2
Perulangan ke-3
Perulangan ke-4
Perulangan ke-5
Perulangan ke-6
Perulangan ke-7
Perulangan ke-8
Perulangan ke-9
0 1 2 3 4 5 6 7 8 9

<h2>Soal 6: While Loop</h2>
    
Buatlah sebuah code while loop sebagai berikut :
- Buatlah suatu fungsi yang merima satu input nilai numeric
- Dalam fungsi, Buat sebuah while-loop dengan melakukan comparasi terhadap inputan tersebut, dimana looping/iterasi terus berjalan apabila nilai inputan tidak sama dengan 0
- Dalam setiap iterasi update nilai variable inputan itu, jika input lebih dari 0, maka kurangi variabel tersebut sebesar 1, selain itu tambahkan 1
- print nilai variable input dalam setiap awal iterasi

In [35]:
a = 10

def fungsi_while(i) : 
    while (i < 10) :
        print(i)
        i += 1

fungsi_while(a)

Expected Output:

10

9

8

7

6

5

4

3

2

1

<h2>Soal 7: For Loop</h2>
    
Lengkapi kode untuk menghasilkan suatu output yang di harapkan:

- Buatlah sebuah loop dengan mengiterasi sebuah objek list kemudian di kalikan dengan index dari list tersebut dan print hasilnya

In [29]:
obj_list= [1, 16, 11, 10, 5]

# lengkapi code di bawah
for index,obj in enumerate(obj_list):
    print(obj*index)

0
16
22
30
20

Expected Output:

0

16

22

30

20